// fonts
@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Black.ttf') format('ttf')
    src: url('../fonts/Roboto-BlackItalic.ttf') format('ttf')
    src: url('../fonts/Roboto-Bold.ttf') format('ttf')
    src: url('../fonts/Roboto-BoldItalic.ttf') format('ttf')
    src: url('../fonts/Roboto-Italic.ttf') format('ttf')
    src: url('../fonts/Roboto-Light.ttf') format('ttf')
    src: url('../fonts/Roboto-LightItalic.ttf') format('ttf')
    src: url('../fonts/Roboto-Medium.ttf') format('ttf')
    src: url('../fonts/Roboto-MediumItalic.ttf') format('ttf')
    src: url('../fonts/Roboto-Regular.ttf') format('ttf')
    src: url('../fonts/Roboto-Thin.ttf') format('ttf')
    src: url('../fonts/Roboto-ThinItalic.ttf') format('ttf')
    font-weight: 400

// colors
$primary-color: #79D82F
$primary-color-2: #00C28E
$heading-color: #0C1019
$body-color: #576177
$body-light-color: #8D97AD
$body-light-2-color: #777E91
$form-color: #E6EAF2
$white-color: #FFFFFF
$base-color: #F7F9FD
$base-dark-color: #F4F7FD
$blue-color: #2EB4FF
$yellow-color: #FFB500
$red-color: #FF4E36


// media queries
=j
    @media only screen and (max-width: "1588px")
        @content
=w
    @media only screen and (max-width: "1419px")
        @content
=x
    @media only screen and (max-width: "1339px")
        @content
=d
    @media only screen and (max-width: "1179px")
        @content
=t
    @media only screen and (max-width: "1023px")
        @content
=m
    @media only screen and (max-width: "767px")
        @content
=a
    @media only screen and (max-width: "639px")
        @content
=s
    @media only screen and (max-width: "512px")

// font-families
=roboto
    font-family: "Roboto",sans-serif
    font-weight: normal
    font-style: normal
